@using Shop.Data.ViewModell
@model VMItems

@{
    Layout = "_Layout";
}

@{
    foreach (var item in Model.Items)
    {
        if (item.Category.Id == Model.SelectCategory)
        {
            <div class="item">
                <img src="/img/@item.Img" />
                <div></div>
                <div class="basket">
                    <div class="button" id="@item.Id">
                        В корзину
                    </div>
                    <div class="count" style="display: none;">
                        <div class="button min">-</div>
                        <div class="text">1</div>
                        <div class="button max">+</div>
                    </div>
                </div>

                <div class="data">
                    <h3>Модель: @item.Name</h3>
                    <div>Цена: @item.Price.ToString("c")</div>
                    <div>Категория: @item.Category.Name</div>
                    <div>Описание: @item.Description</div>
                </div>
                <a href="/Items/Update?id=@item.Id">Изменить</a>
                <a href="/Items/Delete?id=@item.Id">Удалить</a>
            </div>
        }
    }
}