@using Shop.Data.ViewModell
@model VMItems
@{
    Layout = "_Layout";
}

<form method="post" enctype="multipart/form-data">
    <script>
        function UpdateUrl() {
            var IdItem = document.getElementById('id').value;

            window.location = "/Items/Update?id=" + IdItem;
        }
    </script>
    <input type="hidden" id="id" name="id" value="@Model.Items.First().Id" />
    <div>
        Наименование:
        <br /><input name="name" placeholder="Наименование:" value="@Model.Items.First().Name" />
    </div>

    <div>
        Описание:
        <br /><input name="description" placeholder="Описание:" value="@Model.Items.First().Description" />
    </div>

    <div>
        <label for="file">Изображение</label>
        <br /><input name="files" type="file" />
    </div>

    <div>
        Стоимость:
        <br /><input name="price" value="@Model.Items.First().Price" />
    </div>


    <div>
        Категория:
        <br />    <select name="idCategory">
            <option value="0">Выбрать ...</option>
            @{
                foreach (var Category in Model.Categories)
                {
                    if (Category.Id == Model.SelectCategory)
                    {
                        <option selected="selected" value="@Category.Id"> @Category.Name</option>
                    }
                    else
                    {
                        <option value="@Category.Id">@Category.Name</option>
                    }
                }
            }
        </select>
    </div>

    <input type="submit" onclick="UpdateUrl()" />
</form>
